.nearest-page-heading {
  margin: 20px auto;
  font-size: 16px;
  font-weight: 500;
  color: #ccc;
  text-transform: uppercase;
  width: 100%;
  letter-spacing: 1.2px;
}

.return-link {
  text-decoration: none;
  color: #ccc;
  font-size: 14px;
  font-weight: 300;
  border-style: none;
  margin: 20px 0 0 0;
  border-bottom: 1px solid rgb(171, 170, 243);
  display: inline-block;
}

.temp-container {
  width: 70%;
  margin: auto;
}

@media (max-width: 900px) {
  .temp-container {
    width: 100%;
    margin: auto;
  }
}
