.facilities-header {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  text-align: center;
  min-height: 200px;
  align-content: center;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.facilities-header h2 {
  color: var(--blue);
}

.facilities-header .select-dropdown {
  width: 60%;
  margin: auto;
}

@media (max-width: 900px) {
  .facilities-header .select-dropdown {
    width: 100%;
  }
}
