.all-facilities-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.all-facilities-container-nearest {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.single-facility {
  background: #f0f0f0;
  border-radius: 4px;
  transition: 0.3s;
  cursor: pointer;
}

.single-facility-container {
  padding: 10px;
}

.single-facility-container h3 {
  color: var(--blue);
  margin-bottom: 5px;
}

.single-facility-container p {
  font-size: 14px;
}

.single-facility img {
  width: 100%;
  height: 250px;
  border-radius: 4px;
}

.single-facility:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

@media (max-width: 900px) {
  .all-facilities-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .all-facilities-container-nearest {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}
