.modal {
  width: 50%;
  margin: auto;
  background: white;
  height: 70vh;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  z-index: 5;
  overflow: auto;
}
// .confirm-modal {
//   width: 50%;
//   margin: auto;
//   background: white;
//   height: 40vh;
//   box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
//   z-index: 5;
//   overflow: auto;
// }

.doctor-card {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 15px;
  background: #f0f0f0;
  width: 70%;
  margin: 20px auto;
  cursor: pointer;
  border-radius: 4px;
}

.doctor-info {
  grid-column: span 4;
  align-self: center;
}

.doc-search {
  padding: 10px 12px;
  width: 70%;
  margin: 20px 15% 0 15%;
  border-style: none;
  border: 1.2px solid #004579;
  background: #f0f0f0;
  border-radius: 4px;
}

@media (max-width: 900px) {
  .modal {
    width: 90%;
  }

  .confirm-modal {
    width: 90%;
  }

  .doctor-card {
    width: 90%;
  }
  .doc-search {
    width: 90%;
    margin: 20px 5% 0 5%;
  }
  .doctor-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .doctor-info {
    grid-column: span 3;
  }
}
