.full-image {
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  justify-items: center;
  background: rgba(0, 0, 0, 0.7);
  position: relative;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  background: cornsilk;
  padding: 4px;
  cursor: pointer;
}
