.no-profile {
  height: 200px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-content: center;
  text-align: center;
  background: #f0f0f0;
  padding: 0 20px;
  margin-top: 40px;
  h2 {
    color: #555;
    font-size: 16px;
    text-transform: none;
    letter-spacing: normal;
    font-weight: 500;
  }
}

.complete-profile {
  border-style: none;
  padding: 20px 50px;
  background: var(--blue);
  color: var(--white);
  border-radius: 4px;
  font-size: 18px;
  margin: 20px;
  cursor: pointer;
}
