.patient-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: #f0f0f0;
  padding: 20px;
  border-radius: 4px;
  width: 70%;
  margin: auto;
}

.patient-profile-title {
  width: 70%;
  margin: 20px auto;
}

.profile-edit-icon {
  justify-self: right;
  cursor: pointer;
  fill: grey;
}

.patient-info {
  align-self: center;
}

.patient-info p {
  margin: 5px;
}

.upload-report {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 70%;
  margin: 20px auto;
}

.reports-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: center;
  width: 70%;
  margin: auto;
}

.report {
  width: 100%;
  height: 250px;
  border: 1px solid #ccc;
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.overlay {
  background: rgba(236, 236, 236, 0.7);

  grid-column: 1/-1;
  grid-row: 1/-1;
  display: grid;
  justify-items: center;
  align-content: center;
  transition: 0.3s;
  transform: translateY(100%);
}

.hover-container {
  display: grid;
  overflow: hidden;
}

.hover-container:hover .overlay {
  transform: translateY(0);
}

.send-btn {
  border-style: none;
  background: black;
  color: #eee;
  border-radius: 4px;
  padding: 8px 8px;
  cursor: pointer;
  font-size: 12px;
  width: 80%;
  text-align: center;
}

.open-btn {
  border-style: none;
  padding: 6px 8px;
  background: #1e439b;
  color: white;
  border-radius: 4px;
  font-size: 12px;
  margin-bottom: 10px;
  width: 80%;
  text-align: center;
  cursor: pointer;
}

.delete-btn {
  border-style: none;
  margin-top: 10px;
  background: darkred;
  color: white;
  border-radius: 4px;
  padding: 8px 8px;
  cursor: pointer;
  font-size: 12px;
  width: 80%;
}

input[type='file'] {
  /* this will hide default input */
  opacity: 0;
  position: absolute;
  pointer-events: none;
  width: 1px;
  height: 1px;
}

.no-report-alert {
  font-size: 16px;
  grid-column: span 3;
  text-transform: uppercase;
  color: rgb(190, 107, 107);
  letter-spacing: 1.1px;
  margin-top: 50px;
}

@media (max-width: 900px) {
  .patient-card {
    width: 100%;
    margin: auto;
  }
  .patient-profile-title {
    width: 100%;
  }
  .reports-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .upload-report {
    width: 100%;
    h4 {
      font-size: 12px;
    }
    label {
      font-size: 12px;
    }
  }
  .no-report-alert {
    grid-column: span 2;
  }

  .reports-container {
    width: 100%;
  }
}
