.preview-heading {
  color: #ccc;
  text-align: center;
}
.preview-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  background: #f0f0f0;
  width: 70%;
  margin: 30px auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.top-heading {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin: 20px;
}

.content-heading {
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: grey;
}

.content-info-p {
  margin: 10px -2px;
  color: #333;
  display: flex;
  align-items: flex-start;
}

.action-wrapper {
  display: flex;
  justify-content: center;
  margin: 20px;
  .btn-cancel {
    text-decoration: none;
    color: #555;
    align-self: center;
    margin-right: 20px;
    border-radius: 4px;
    padding: 8px 12px;
  }
  .btn-confirm {
    background: #004579;
    color: white;
    padding: 8px 12px;
    border-style: none;
    border-radius: 4px;
    cursor: pointer;
  }
}

@media (max-width: 900px) {
  .preview-wrapper {
    width: 100%;
  }
}
