.find-hero {
  background-color: #dfdbe5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  height: 500px;
}

.find-heading {
  display: grid;
  grid-template-columns: 1fr;
  height: 200px;
  justify-items: center;
  align-content: center;

  h1 {
    color: #342d3f;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    text-align: center;
  }
}

.find-search {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 70px;
  height: auto;
  margin-bottom: 150px;
}

@media (max-width: 900px) {
  .find-search {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .find-heading {
    align-content: center;
    height: 150px;
    margin-bottom: 0;
    h1 {
      font-size: 20px;
    }
  }
}
