.service-section {
  height: auto;
  .heading {
    display: grid;
    justify-items: center;
    align-content: center;
    height: auto;
    padding-top: 30px;
    padding-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    color: #333;
  }
  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    overflow: auto;
    .individual-content {
      text-align: center;
      flex-basis: calc(33.33% - 20px);
      padding: 20px;
      margin: 10px;
      cursor: pointer;
      h2 {
        display: grid;
        justify-items: center;
        align-content: center;
        padding: 20px;
      }
      img {
        width: 50px;
        height: 50px;
      }
    }
  }
}

@media (max-width: 900px) {
  .service-section {
    display: none;
  }
}
