footer {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-content: center;
  height: 70px;
  background: var(--white);
  margin-top: 40px;

  p {
    color: #333;
  }
}
