header {
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    justify-items: center;
    align-items: center;
    height: 70px;
    list-style: none;

    .nav-items a {
      text-decoration: none;
      color: grey;
      font-size: 14px;
    }

    .nav-items a:hover {
      border-bottom: 1.5px solid #333;
      padding-bottom: 3px;
    }

    .logo {
      color: var(--blue);
      font-family: 'Lobster', cursive;
      font-size: 24px;
      cursor: pointer;
      font-weight: bold;
    }

    .side-nav-icon {
      grid-column: -1; /* to position into last grid */
      text-align: end;
      cursor: pointer;
    }
  }
}

@media (max-width: 1110px) {
  .nav-items-lg {
    display: none;
  }
  .logo {
    justify-self: start;
  }
}
