.side-nav {
  width: 300px;
  height: 100%;
  position: fixed;
  z-index: 200;
  top: 0;
  right: 0;
  background: white;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  padding-top: 60px;
  margin: 0;
  transform: translateX(100%);
  transition: 0.3s;

  ul {
    .side-nav-close {
      top: 15px;
      right: 25px;
      position: absolute;
      cursor: pointer;
    }
    li {
      border-top: solid 1px var(--grey-white);
      line-height: 50px;
      padding: 0 0 0 40px;
      a {
        text-decoration: none;
        font-family: Lato;
        font-size: 16px;
        color: #333;
      }
    }

    li:hover {
      transition: 0.3s;
      background: var(--white);
      padding: 0 0 0 40px;
      border-radius: 5px;
    }

    div {
      border-radius: 5px;
      text-align: center;
      padding: 10px 15px;
      background: var(--grey-white);
      cursor: pointer;
    }

    .my-profile:hover {
      background: var(--blue);
      color: white;
    }

    .sign-out:hover {
      background: maroon;
      color: white;
    }
  }
}

.side-nav.open {
  transform: translateX(0);
}

@media (min-width: 1109px) {
  .side-nav-icon {
    display: none;
  }
}
