:root {
  --blue: #004579;
  --white: #f0f0f0;
  --grey-white: #e2e2e2;
  --black: #272727;
  --grey: #8b909b;
  --yellow: #f1c15d;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: var(--black);
  scroll-behavior: smooth;
}

header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
  color: var(--grey);
  font-family: 'Lato', sans-serif;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
