.alert {
  text-align: center;
  margin-top: 20px;
  color: red;
}

/* Buttons */

.btn {
  border-radius: 4px;
  border-style: none;
  font-family: 'Lato', sans-serif;
  text-align: center;
  outline: none;
}

.btn-primary {
  background: var(--blue);
  color: var(--white);
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
}

.btn-disabled {
  background: var(--grey);
  color: var(--white);
  padding: 10px 15px;
  font-size: 14px;
}

.btn-edit {
  background: #202020;
  color: white;
  padding: 10px 15px;
  width: 70%;
  align-self: center;
  cursor: pointer;
}

.btn-add {
  background: darkgreen;
  color: white;
  padding: 5px 10px;
  width: 100%;
  justify-self: center;
  cursor: pointer;
}

.btn-cancel {
  background: var(--grey-white);
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
}

.btn-search {
  background: var(--blue);
  color: var(--white);
  font-size: 14px;
  cursor: pointer;
}

.btn-hero {
  padding: 20px 60px;
  background: #f1c15d;
  color: black;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.9);
  font-size: 18px;
  cursor: pointer;
}

.btn-hero:hover {
  color: white;
  background: rgba(0, 0, 0, 0.9);
}

.btn-sign-out {
  background: var(--grey-white);
  color: var(--black);
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
}

.btn-sign-out:hover {
  background: maroon;
  color: var(--white);
}

.btn-nav {
  border: 1.2px solid #004579;
  color: #333;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
}

.btn-nav:hover {
  background: #004579;
  color: var(--white);
}

/* Buttons */

/* Cards */
.card {
  /* service section card  */
  transition: 0.3s;
  border-radius: 5px;
  background: #f0f0f0;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.doc-card {
  /* doctor profile card */
  background: #f0f0f0;
  color: var(--blue);
  transition: 0.2s;
  border-radius: 4px;
}

.doc-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Cards */

/* Forms */

.search-form {
  background: white;
  padding: 5px;
  border: 1px solid var(--grey-white);
  outline: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #333;
}

.input-form {
  padding: 15px;
  border-radius: 5px;
  border: 1.2px solid var(--blue);
  margin-top: 15px;
  width: 100%;
  outline: none;
}

.input-form-wrapper {
  margin: 50px auto;
  width: 50%;
}

.submit {
  color: white;
  background: var(--blue);
  cursor: pointer;
}

/* Forms */

/* Modals */

.modal-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
  min-height: 400px;
  justify-items: center;
  align-content: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  padding: 40px;
  border-radius: 5px;
}

.backdrop {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

/* Modals */

/* Containers */
.container {
  width: 60%;
  margin: auto;
}

.container-2 {
  width: 70%;
  margin: auto;
}
.wrapper {
  min-height: 100vh;
}

/* Containers */

/* Alerts */

.negative-alert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #333;
  padding: 20px 50px;
  border-radius: 4px;
  background: #f0f0f0;
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 20;

  p {
    color: #333;
    line-height: 25px;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 300;
  }

  button {
    border-style: none;
    padding: 8px 20px;
    background: #004579;
    color: #eee;
    border-radius: 25px;
    margin-top: 20px;
    cursor: pointer;
    outline: none;
  }
}

.blur-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(61, 61, 61);
  opacity: 0.9;

  // z-index: 20;
}

/* Alerts */

@media (max-width: 900px) {
  .container {
    width: 90%;
    margin: auto;
  }

  .container-2 {
    width: 90%;
    margin: auto;
  }

  .btn-search {
    height: 50px;
  }

  .search-form {
    height: 50px;
  }

  .input-form-wrapper {
    width: 100%;
  }

  .negative-alert {
    left: 0;
    transform: translate(10%, -50%);
    width: 80%;
    margin: auto;
    padding: 20px;
  }
}
