.mv-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mv-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.-mh-2 {
  margin-left: -2px;
  margin-right: -2px;
}

.mh-auto {
  margin-left: auto;
  margin-right: auto;
}

.m-20 {
  margin: 20px;
}

.m-10 {
  margin: 10px;
}

.-mt-40 {
  margin-top: -40px;
}

.mt-40 {
  margin-top: 40px;
}

.m-auto {
  margin: auto;
}

.mt-20 {
  margin-top: 20px;
}

.mh-0 {
  margin-left: 0;
  margin-right: 0;
}

.mv-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mt-15 {
  margin-top: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.m-0 {
  margin: 0;
}

.mr-20 {
  margin-right: 20px;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-5 {
  margin-left: 5px;
}

.ml-20 {
  margin-left: 20px;
}

.mh-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.m-5 {
  margin: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mv-50 {
  margin-left: 50px;
  margin-right: 50px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pl-40 {
  padding-left: 40px;
}

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}

.pr-0 {
  padding-right: 0;
}

.pv-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.p-5 {
  padding: 5px;
}

.p-8 {
  padding: 8px;
}

.pv-6 {
  padding-top: 6px;
  padding-bottom: 6px;
}

.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-60 {
  padding-top: 60px;
}

.pb-3 {
  padding-bottom: 3px;
}

.p-20 {
  padding: 20px;
}

.p-40 {
  padding: 40px;
}

.pv-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.pv-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pv-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.ph-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.ph-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.ph-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.ph-50 {
  padding-left: 50px;
  padding-right: 50px;
}

.pv-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.ph-0 {
  padding-left: 0;
  padding-right: 0;
}

.ph-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.pv-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pv-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.ph-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.ph-60 {
  padding-left: 60px;
  padding-right: 60px;
}
