.cabins-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.cabin-img {
  width: 100%;
  height: 250px;
  border-radius: 4px;
}

.single-cabin-info {
  padding: 10px;
  background: #f0f0f0;
  margin-top: -40px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.3);
  position: relative;
}

.available-badge {
  background: #b2d8f5;
  padding: 5px;
  border-radius: 25px;
  color: #004579;
  font-size: 14px;
  font-weight: 300;
}

.not-available-badge {
  background: #ed7b99;
  padding: 5px;
  border-radius: 25px;
  color: #8f0505;
  font-size: 12px;
  font-weight: 300;
}

.cabin-cost {
  padding: 15px 0;
  color: #333;
}

.book-now-btn {
  padding: 12px 15px;
  background: #004579;
  color: white;
  width: 100%;
  margin: auto;
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
}

.book-now-btn-disabled {
  padding: 12px 15px;
  background: #d8d8d8;
  color: #6e6e6e;
  width: 100%;
  margin: auto;
  border-style: none;
  border-radius: 4px;
}

@media (max-width: 900px) {
  .cabins-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
