.facility-top {
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.facility-top-content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.book-cabin-btn {
  padding: 15px;
  border-style: none;
  background: #2c8dd7;
  color: white;
  font-family: 'Roboto';

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  width: 200px;
  margin-top: 15px;
  cursor: pointer;
}

.facility-middle {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 40px;
  border-radius: 4px;
}

.facility-middle-info {
  background: #f0f0f0;
  height: 100%;
  width: 100%;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3); */
}

.facility-middle-info-content {
  display: flex;
  margin: 10px 10px 10px 30%;
}

.facility-middle-info-content svg {
  fill: rgb(87, 87, 87);
}

@media (max-width: 900px) {
  .facility-middle {
    display: grid;
    grid-template-columns: 1fr;
  }

  .facility-middle-info {
    padding-bottom: 20px;
  }

  .facility-top-content {
    h1 {
      font-size: 20px;
    }
  }
}
