.medical-professionals-section {
  display: grid;
  justify-items: center;
  align-content: center;
  height: auto;
  padding-top: 20px;
}

.medical-professionals-section-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  overflow: auto;
}

.medical-professionals-section-individual-content {
  // flex-basis: calc(25% - 20px);
  margin: 10px;
  cursor: pointer;
  text-align: center;
  padding: 20px;
}

.medical-professionals-section-individual-content img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid grey;
}
