.pagination {
  text-align: center;
  margin: 20px auto;
  width: 50%;
}

.page-number {
  padding: 10px;
  background: var(--white);
  border: 1px solid var(--grey);
  border-radius: 2px;
  cursor: pointer;
}

.page-number:hover {
  background: white;
}
