.search-tests {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.search-test-input {
  width: 100%;
  height: 60px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
}
