.tests-wrapper {
  padding: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.test {
  padding: 20px 0px;
  background: #f0f0f0;
  margin: 10px;
  flex-basis: calc(33.3333% - 20px);
  text-align: center;
  position: relative;
  border-radius: 4px;
  width: 70%;
  transition: 0.3s;
}

.test:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.test .test-name {
  background: var(--blue);
  color: var(--white);
  padding: 5px;
}

.test .cost {
  background: crimson;
  padding: 5px;
  color: white;
  clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
  top: 0;
  right: 0;
  position: absolute;
}

@media (max-width: 900px) {
  .tests-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    justify-items: center;
  }
}
