.doctor-profile-top {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-top: 20px;
}

.doctor-profile-top-right {
  width: 100%;
  grid-column: span 5;
  padding: 20px;
  border-radius: 4px;
}

.doctor-title {
  display: flex;
  align-items: baseline;
}

.book-apt-btn {
  padding: 12px 15px;
  background: #004579;
  color: white;
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  margin: 20px 0;
}

.doctor-profile-bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
}

.facility-img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.facility-img:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
}

.doctor-profile-bottom-right {
  width: 100%;
  height: calc(100% - 36px);
  background: #f0f0f0;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 36px;
}

.doctor-contact-content {
  display: flex;
  margin: 10px;
}

.doctor-contact-content svg {
  fill: rgb(87, 87, 87);
}

@media (max-width: 900px) {
  .doctor-profile-bottom {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0;
  }

  .doctor-contact-content-wrapper {
    padding-bottom: 20px;
  }
}
